<html lang="pt-br">

<head>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Cadastre a Tecnologia:</h1>
    <from method="post" action='/cadastro/salvar'>
        Categoria: <input type="text" name='Categoria'> <br/> Conteudo: <input type="text" name='conteudo'> <br/>
        <input type="submit">
    </from>
</body>

</html>