<html lang="pt-br">

<head>
    <meta chartset="utf-8" />
</head>

<body>
    <h1>Tecnologias FrontEnd</h1>
    <% for(i=0;i<dados.length;i++){%>
        <p>
            <%=dados[i].conteudo %>
        </p>
        <%}%>
</body>

</html>